<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Slippy</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>
    <body>
    <div class="container">
        <div class="row justify-content-center mt-5">
              <div class="col-lg-8">
                  <div class="card ancient-card mx-auto updoc-card">
                      <div class="card-body w-100" style="min-height: 400px;">  

                          <div class="row">
                            <div class="col text-center mt-5">
                                <input type="text" placeholder="your comment" id="comment">
                                <button type="submit" id="btn-submit">comment</button>
                            </div>
                        </div>
                         
                        <div class="row">
                            <div class="col text-center mt-5">
                                <div id="comment-area">
                                  <p class="text-black">People comment</p>
                                  <ul id="comment_list">
                                      
                                  </ul>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
       
        <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/TweenMax.min.js"></script>
    </body>
    <script>
        $(document).ready(function() {
            display();

            $("#btn-submit").click(function() {
                comment();
            })
        });
        
        const comment = () => {
                 
            fetch('/api/comment', {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify({
                        'comment' : $('#comment').val()
                    }),
                    headers: {"Content-type": "application/json; charset=UTF-8"}
                })
                .then((response) => response.json()
                    .then((resp) => {
                       resp.isSuccess == true ? display() : pass
                    }))
                .catch((error) => {
                    alert(error)
                });
        }
        
        const display = () => {
            fetch('/comments', {
                method: 'GET',
            })
            .then((response) => response.json()
                .then((resp) => {
                    $("#comment_list").empty()
                    resp.data.forEach(element => {
                        $("#comment_list").append(`${element}</br>`)
                    })
                }))
            .catch((error) => {
                alert(error)
            });
            
        }

    </script>
</html>